button.MuiButtonBase-root{
    border-radius: 5px;
    height: 45px;
    padding: 0 16px !important;
    text-transform: none;
    &.primary{
        background: var(--primary-button-bg);
        color: white;
    }
    &.secondary{
        background: var(--secondary-button-bg);
        color: var(--secondary-button-color);
    }
}
.card{
    background: var(--blocks-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0.5px rgba(0,0,0,0.07);
    h3{
        font-weight: 500;
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img{
            height: 26px;
            margin-right: 8px;
        }
    }
    h2{
        font-weight: 500;
        font-size: 18px;
    }
}
.MuiDataGrid-root{
    border: none !important;
    color: var(--MuiDataGrid-root-color) !important;
    .MuiDataGrid-columnHeaders{
        background: var(--body-bg-color);
    }
    .MuiDataGrid-row--borderBottom{
        background: none !important;
    }
    .MuiDataGrid-columnHeader{
        height: 50px !important;
        
    }
    .MuiDataGrid-columnSeparator{
        display: none !important;
    }
    .MuiTablePagination-root{
        .MuiToolbar-root{
            justify-content: space-between;
            padding-left: 0;
            padding-right: 0;
            .MuiTablePagination-spacer{
                display: none;
            }
            .MuiTablePagination-selectLabel{
                color: var(--blue-color);
                width: 60px;
            }
            .MuiTablePagination-input{
                margin: 0;
                padding-left: 0;
                width: 40px;
                color: var(--blue-color);
                > div{
                    padding-left: 0;
                }
                svg{
                    color: var(--blue-color);
                }
            }
            .MuiPagination-root{
                width: calc(100% - 100px);
                display: flex;
                justify-content: flex-end;
                margin: 0;
                
                .MuiPaginationItem-root{
                    padding: 0 !important;
                    margin: 0;
                    &.Mui-selected{
                        background: none;
                        color: var(--blue-color);
                    }
                }
            }
        }
    }
}